html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: 'Poppins';
}

.logo {
    display: block;
    height: 35px;
    padding:5px;
    left:4px;
    top:4px;
    transition: opacity 0.2s ease-in-out;
    position:absolute;
}

.logo:hover {
    opacity: .2;
}

.nav {
    margin: 0;
    background-color: #3a3633;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height:50px;
    position:fixed;
    top:0;
    width:100%;
    z-index: 2;
}

.spacer {
    width: 100%;
    height: 50px;
}

.navlink {
    color: #fff;
    padding: 8px;
    text-decoration: none;
    display: none;
    border-bottom: 5px solid transparent;
    position:relative;
    text-align: center;
    transition:.5s;
}

.navlink:before {
    content:'';
    position: absolute;
    top:5px;
    left:0;
    width:100%;
    height:3px;
    background: white;
    z-index:1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navlink:hover:before {
    transform:scaleX(1);
    transform-origin: left;
}
.navlink:after {
    content:'';
    position: absolute;
    bottom:4px;
    right:0;
    width:100%;
    height:3px;
    background: white;
    z-index:1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.navlink:hover:after {
    transform:scaleX(1);
    transform-origin: right;
}

ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    overflow: scroll;
    padding-right: 10px;
    padding-left: 10px;
}

.dropdowncontent {
    top:0;
    right: 10px;
    margin-top:49px;
    display: none;
    position: absolute;
    background-color: #3a3633;
    min-width: 90px;    
    z-index: 2;
}

.dropdowncontent a {
    color: white;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover > .dropdowncontent {
    display: block;
}

.dropdowncontent > a:hover {
    display:block;
    text-decoration: none;
    background-color: aquamarine;
}

.hambtn {
    display: block;
    height: 35px;
    padding:5px;
    top:2px;
    right: 10px;
    z-index: 3;
    color:white;
    background-color:#3a3633;
    position: absolute;
}
.hamdrop {
    top:0;
    right:0;
    margin-top:47px;
    display: none;
    position: absolute;
    background-color: #3a3633;
    min-width: 100vw;    
    z-index: 2;
}

.ham:hover > .hamdrop {
    display: flex;
    flex-direction: column;
}

.hamlink {
    font-size:15px;
    color: #fff;
    padding: 20px 25px;
    text-decoration: none;
}

.hamlink:hover {
    background-color: aqua;
}

.fold {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/Users/avtargrewal/Decode/html-css-project/imgs/bg.jpg");
    background-position: center;
    background-size: cover;    
    min-height: 95vh;
}

.borderbox {
    display: block;
    border-style: none;
}

.foldcontent {
    display: block;
    color: white;
}

.foldcontent > h1 {
    display: block;
    padding:20px;
}

.foldrightbckgrd {
    background-color: gray;
}

.foldright {
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.5);
    padding:20px; 
}

.foldrightcontent {
    display:block;    
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxone {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 6px;
    margin:20px;
    padding: 20px;
    max-width: 350px;
    text-align: center;
}

.boxone >button {
    cursor: pointer;
    margin:10px;
    background-color: #3a3633;
    width:200px;
    height: 35px;
    color:white;
    font-weight:bold;
    font-size:13px;
}

.boxtwo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 6px;
    margin:20px;
    padding: 20px;
    max-width: 350px;
    text-align: center;
}

.boxtwo >button {
    cursor: pointer;
    margin:10px;
    background-color: #3a3633;
    width:200px;
    height: 35px;
    color:white;
    font-weight:bold;
    font-size:13px;
}

.boxthree {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 6px;
    margin:20px;
    padding: 20px;
    max-width: 350px;
    text-align: center;
}

.boxthree >button {
    cursor: pointer;
    margin:10px;
    background-color: #3a3633;
    width:200px;
    height: 35px;
    color:white;
    font-weight:bold;
    font-size:13px;
}


.infobox {
    background-color: #3a3633;
    color: white;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.infobox > h1 {
    font-size: 2rem;
}

.infobox > p {
    font-size: .75rem;
}

.coolbox {
    position: absolute;
    border: solid;
    border-color: white;
    border-width: 8px;
    padding: 10px;
    background-color: #3a3633;
    text-align: center;
    width: 300px;
    height: 100px;
    z-index: 1;
    left:25px;
    margin-top:-75px;
}

.coolbox > p{
    color:red;
    font-size: 17px;
    font-weight: bolder;
}

.coolbox > span {
    color:white;
    font-size: 10px;
}

@keyframes move {
    0% {
        transform:translatex(0%) rotate(0deg) scale(1);opacity: 1;
    }

    60% {
        transform:translate(150%) rotate(180deg) scale(1);opacity: 1;
    }

    60% {
        transform:translate(150%) rotate(180deg) scale(1) ;opacity: 1;
      }

    100% {
        transform: translate(150%) scale(.5) rotate(180deg);opacity: 0;
    }
}

.coolbox:hover {
    animation: move 5s ease-in;
}

.grad {
    background-image: linear-gradient(to right, white, dodgerblue);
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.grad > h1 {
    font-size: 2rem;
}
.grad > p {
    font-size: .75rem;
}

.centerform {
    margin:auto;
    width:350px;
}

.registration {
    display:flex;
    flex-direction: column;
    align-items: left;
}

.text-field {
    border-radius: 4px;
    border: 2px solid #3a3633;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 20px;
    width:300px;
}

.input-field {
    display:block;
    border: none;
    width: 245px;
}

.send-button {
    float: right;
    background-color: #3a3633;
    color: white;
    border: 3px solid #3a3633;
    display: block;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.send-button:hover {
    background-color: gray;
}

.linkgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding:20px;
}

.linklist {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:20px;
}

.linklist > a {
    text-decoration: none;
    color:black;
}

.gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.galleryitem {
    flex:100%;
    flex-basis: 100%;
    overflow: hidden;
    height:300px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.galleryimage {
    width:100%;
    height:100%;
    object-fit: cover;
    position: relative;
}


.overlay {
    position: absolute;
    display:block;
    color:white;
    z-index: 1;
    justify-content: center;
    font-size:25px;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity:0;
    transition:.2s;
    align-items: center;
    text-align: center;
}

.galleryitem:hover > .galleryimage{
    transform: scale(1.25);
}

.galleryitem:hover > .overlay {
    opacity:1;
}

@media (min-width: 768px) {
    .navlink {
        display: inline-block;
    }
    .hambtn {
        display: none;
    }
    .hamdrop {
        display: none;
    }
    .borderbox {
        display: flex;
        border-style: solid;
        border-width: 8px;
        border-color: white;
        width:85%;
    }  

    .foldrightcontent {
        display: flex;
        border-top-style: dotted;
        border-top-color: white; 
        justify-content: center;
        align-items: center;
    }
    .features {
        flex-wrap:wrap;
    }

    .infobox > h1 {
        font-size: 2.5rem;
    }
    .infobox > p {
        font-size: 1rem;
    }
    .grad > h1 {
        font-size: 2.5rem;
    }
    .grad > p {
        font-size: 1rem;
    }
    
    .linkgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .galleryitem {
        flex:50%;
        flex-basis: 50%;
    }
}

@media (min-width: 1200px) {
    .navlink {
        display: inline-block;
    }
    .hambtn {
        display: none;
    }
    .hamdrop {
        display: none;
    }
    .foldrightcontent {
        display: flex;
        flex-wrap: wrap;
        border-top-style: dotted;
        border-top-color: white; 
        justify-content: center;
        align-items: center;
    }

    .foldcontent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foldright {
        width:50%; 
        padding-left: 20px;
    }

    .borderbox {
        display: flex;
        border-style: solid;
        border-width: 8px;
        border-color: white;
        width:80%;
    }

    .foldcontent > h1 {
        display: flex;
        width:50%;
        justify-content: center;
        align-items: center;
    }

    .features {
        display: flex;
        flex-direction: row;
    }

    .galleryitem {
        flex:33.33333%;
        flex-basis: 33.33333%;
    }
}